.import-btn {
    position: absolute;
    z-index: 999;
    top: 45%;
    transform: translateY(-45%);
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 10%;
    min-width: 250px;
    min-height: 100px;
}


/************************/
/*          MAP         */
/************************/
#mapid { 
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: crosshair;
}

/************************/
/*  MSGBOX MAP OVERLAY  */
/************************/
#msgboxdiv {
  position: absolute;
  margin: 1vh auto 0 auto;
  z-index: 999;
  width: 70%;
  left: 10%;
  right: 10%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/* #msgbox {

} */

/****************************/
/*  CUSTOM LEAFLET TOOLBAR  */
/****************************/
/* #maptoolbardiv {
  width: 100%;
  background-color: lightgrey;
  z-index: 999;
  height: 36px;
  padding: 2px;
  display: flex;
}

#maptoolbardiv button, #maptoolbardiv div input {
  padding: 4px;
  width: 10vh;
  height: 100%;
  border: none;
  outline: none;
  background-color: lightgrey;
}

#maptoolbardiv div input {
  width: 20vh;
}

#maptoolbardiv button:hover {
  background-color: white;
}

.leaflet-top {
  top: 36px;
} */

#imgOpacitySlider {
  transform: rotate(90deg);
  transform-origin: 10%;

}

/************************/
/* COORDINATES OVERLAY  */
/************************/
#coordsdiv {
  position: absolute;
  z-index: 9999;
  height: 5%;
  left: .4%;
  top: 97%;
  margin: 0;
  background: none;
  border-radius: 6px;
}

#coords {
  background: none;
  border: none;
  outline: none;
  pointer-events:none;
  width: 100%;
  color: black;
}

#coords:focus {
  background: none;
  border: none;
}

/************************/
/*      SPREADSHEET     */
/************************/
#sheetdiv {
    background-color: #494949;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

#sheet {
  color: #333;
  width:100%;
  height:100%;
}

/* vertically center content on the nosheet page */
#nosheet { 
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.spreadsheetbutton {
  width: 50%;
  margin: 12px;
  height: 80px;
  overflow: hidden;
  white-space: normal !important;
  word-wrap: break-word !important; 

}


/************************/
/*     MODAL EXTEND     */
/************************/
.modal-backdrop {
    opacity:0 !important;
}

.modal.left .modal-dialog {
	position:fixed;
	left: 0;
	margin: auto;
  width: 30vw;
  max-width: 30vw;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
  overflow-y: auto;
  background-color: #091c2efa;
  color: #fff;
}

div.modal-header button.close span {
  color: #fff;
}


/************************/
/*   CUSTOM SCROLLBAR   */
/************************/
/* Track */
.jexcel_content::-webkit-scrollbar-track {
  background: #444; 
}
 
/* Handle */
.jexcel_content::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
.jexcel_content::-webkit-scrollbar-thumb:hover {
  background: #99CC; 
}


/************************/
/*   J-EXCEL OVERRIDE   */
/************************/
.jexcel {
  border-top: none;
  border-left: none;
  color: #FFF;
}
/* Entire container contents */
.jexcel_content {
  overflow-x: auto;
  overflow-y: auto;

  display: block;
  border: none;
  padding: 4px;
  margin: 0px 2px 4px 1px;
  position: sticky;
  z-index: 21;
  max-height: 94.78%;
}

/* Toolbar icons */
.jexcel_toolbar i.jexcel_toolbar_item {
  padding: 2;
  width: 10vh;
  height: 100%;
  color: #fff;

}

/* Toolbar */
.jexcel_toolbar {
  padding: 2px;
  margin-right: 0;
  margin-left:0;
  background-color: #666;
  border: none;
}

/* Table Top Header */
.jexcel > thead > tr > td {
  background-color: #313131;
}

/* Table Top Header SELECTED */
.jexcel > tbody > tr.selected > td:first-child {
  background-color: #5599;
}

/* Table Side Header */
.jexcel > tbody > tr > td:first-child {
  background-color: #313131;
}

/* Table Side Header SELECTED */
.jexcel > thead > tr > td.selected {
  background-color: #5599;
}

/* regular cell outline */
.jexcel > tbody > tr > td {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}
/* Cell select outline */
.jexcel .highlight-left {border-left: 1px solid #ff0;}
.jexcel .highlight-top {border-top: 1px solid #ff0;}
.jexcel .highlight-right {border-right: 1px solid #ff0;}
.jexcel .highlight-bottom {border-bottom: 1px solid #ff0;}
 .jexcel .highlight {
  background-color: #AAF !important;
} 

/************************/
/*       SPLIT.JS       */
/************************/
.split {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow-y: auto;overflow-x: hidden;}
.gutter {background-color: transparent;background-repeat: no-repeat;background-position: 50%;}
.gutter.gutter-horizontal {cursor: col-resize;background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); }
.gutter.gutter-vertical {cursor: row-resize;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); }
.split.split-horizontal, .gutter.gutter-horizontal { height: 100%;float: left;}

/************************/
/* LEAFLET EASY BUTTON  */
/************************/
.easy-button-button {
  padding:0;
}


.inherit-font-size {
  font-size: inherit;
}








/************************/
/*  BOOTSTRAP TEMPLATE  */
/************************/
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
}

.masthead-brand {
  color: #fff;
}

.cover-container {
  max-width: 42em;
}

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/* Footer */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}











.slider {
    background-color: rgba(40,65,80,.85);
    padding: 10px;
    color: white;
    border-radius: 10px;
    height: 120px;
}

#leaflet-slider {
    width: 300px;
}

#slider-timestamp {
    width:300px;
    margin-top:20px;
    margin-bottom:4px;
    background-color:#FFFFFF;
    text-align:center;
    border-radius:5px;
}

.float-right {
    float: right;
}

#undefined-div {
    margin-top: 34px;
}

#showundefined {
    vertical-align:middle;
    margin-top: 0;
    margin-bottom: 2px;
}

label[for=showundefined] {
    margin:0
}

#markerCountDiv {
    color: pink;
    font-weight: bold;
}

.ui-slider-range {
    background-color: #31708f;
}

/* Left slider handle */
.ui-slider-handle:nth-child(1) { 
    background-color: #f4cce9 !important;
}
/* Right slider handle */
.ui-slider-handle:nth-child(4) {
    background-color: #d2e3fc !important;
}
